<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('./partials/csslinks') %>
</head>

<body>
    <%- include('./partials/header') %>
    <section class="dashboard-main">
        <div class="container">
            <h1 class="main-heading">Select Category</h1>
            <p class="para text-center">Choose from a range of categories designed to support and enhance your daily experience. Each category is tailored to your needs, offering a personalized touch to your journey. </p>
            <div class="row">
                <div class="col-12 col-lg-3 mb-lg-0 mb-4">
                    <div class="dasboard-box" style="background-image: url(assets/images/box-1.png);">
                        <a href="/mood-tracker">
                            <div class="dasboard-box-icon">
                                <img src="/assets/images/box-1-icon.png" class="img-fluid mb-3" alt="mood track">
                            </div>
                            <div class="dasboard-box-content">
                                <h5>mood tracker</h5>
                                <p>Track your emotional wellness with our Mood Tracker. Reflect on your feelings, spot patterns, and receive insights to improve your emotional health. </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-lg-3 mb-lg-0 mb-4">
                    <div class="dasboard-box" style="background-image: url(assets/images/box-2.png);">
                        <a href="/mind-games">
                            <div class="dasboard-box-icon">
                                <img src="/assets/images/box-2-icon.png" class="img-fluid mb-3" alt="mind games">
                            </div>
                            <div class="dasboard-box-content">
                                <h5>mind games</h5>
                                <p>Engage with a variety of games designed to sharpen your cognitive abilities, offering both fun and functionality. </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-lg-3 mb-lg-0 mb-4">
                    <div class="dasboard-box" style="background-image: url(assets/images/box-3.png);">
                        <a href="/contact">
                            <div class="dasboard-box-icon">
                                <img src="/assets/images/box-3-icon.png" class="img-fluid mb-3" alt="contacts">
                            </div>
                            <div class="dasboard-box-content">
                                <h5>emergency contact</h5>
                                <p>Quickly access your emergency contacts with just a click, ensuring you’re always prepared and connected when you need it most. </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-lg-3 mb-lg-0 mb-4">
                    <div class="dasboard-box" style="background-image: url(assets/images/box-4.png);">
                        <a href="/chat">
                            <div class="dasboard-box-icon">
                                <img src="/assets/images/box-4-icon.png" class="img-fluid mb-3" alt="chat">
                            </div>
                            <div class="dasboard-box-content">
                                <h5>chat</h5>
                                <p>Connect with AI. Whether you have a question or just need someone to talk to, we’re here for you. </p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

<%- include('./partials/footer') %>

<%- include('./partials/scriptlinks') %>
</body>

</html>
