<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <%- include('./partials/csslinks') %>
</head>

<body>
    <section class="registration-background" style="background-image: url(assets/images/forgot.png);">
        <div class="container-fluid">
            <div class="col-12 col-lg-5 ms-lg-auto registration-box">
                <div class="registration-box-inner">
                    <h2 style="font-size: 40px;">Forgot Your Password</h2>
                    <p>Enter your username and we will send you instruction
                        to reset your password</p>
                    <form action="/api/user/forgot-password" method="POST">
                        <div class="custom-input">
                            <div class="custom-input-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <input name="email" type="email" placeholder="Enter your email" class="form-control">
                        </div>
                        <div class="custom-button">
                            <button type="submit" class="btn">Reset Password</button>
                        </div>
                    </form>
                    <div class="separator">
                        <img src="/assets/images/separator.png" class="img-fluid" alt="separator">
                    </div>
                    <p class="account-register"><a href="/login">Back To Login</a></p>
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/scriptlinks') %>
</body>

</html>