<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('./partials/csslinks') %>
</head>

<body>
    <header class="landing-header">
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">Inhance your Cogitive </a>
                <div class="justify-content-end" id="navbarNav">
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item">
                            <i class="far fa-user"></i>
                            <a class="nav-link" aria-current="page" href="signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <i class="far fa-user"></i>
                            <a class="nav-link" href="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="banner-section">
        <div class="container">
            <div class="banner-content">
                <h6>Welcome to Your Digital Assistant</h6>
                <h1>Empower Your Day-to-Day</h1>
                <p>Our platform offers tools and support to enhance daily cognitive activities and make your tasks easier. Join us to start your journey towards enhanced cognitive engagement.</p>
                <a class="btn custom-btn" href="signup">Register Now</a>
            </div>
        </div>
    </section>

<%- include('./partials/scriptlinks') %>
</body>

</html>
