<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('./partials/csslinks') %>
</head>

<body>
    <section class="registration-background" style="background-image: url(/assets/images/reset.png);">
        <div class="container-fluid">
            <div class="col-12 col-lg-5 ms-lg-auto registration-box">
                <div class="registration-box-inner">
                    <h2>Password Reset</h2>
                    <p>Set your new password so you can login and access
                        with your I’D</p>
                    <form action="/api/user/reset-password/<%= token %>" method="POST">
                        <div class="custom-input">
                            <div class="custom-input-icon">
                                <i class="far fa-lock-alt"></i>
                            </div>
                            <input name="password" type="password" placeholder="Enter your password" class="form-control" required>
                            <div class="password-show">
                                <i class="far fa-eye"></i>
                                <i class="far fa-eye-slash"></i>
                            </div>
                        </div>
                        <div class="custom-input">
                            <div class="custom-input-icon">
                                <i class="far fa-lock-alt"></i>
                            </div>
                            <input name="confirmpassword" type="password" placeholder="Confirm password" class="form-control" required>
                            <div class="password-show">
                                <i class="far fa-eye"></i>
                                <i class="far fa-eye-slash"></i>
                            </div>
                        </div>
                        <div class="custom-button">
                            <button class="btn">Submit</button>
                        </div>
                    </form>
                    <div class="separator">
                        <img src="/assets/images/separator.png" class="img-fluid" alt="separator">
                    </div>
                    <p class="account-register"><a href="/login">Back To Login</a></p>
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/scriptlinks') %>
</body>

</html>